<!DOCTYPE html>
<html lang="nl">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Minor Web Development enquete</title>
        <link rel="stylesheet" href="/styles/style.css">
    </head>

<body>
    <header>
        <a href="/overzicht" id="back">< terug</a>
            <h1>Minor Web Development</h1>
    </header>
    <section id="detail">
        <p><strong>Naam student: <%- result.studentName %></strong></p>
        <p>ID student: <%- result.studentID %></p>
        <br />
        <p><strong>WAFS</strong></p>
        <p>Gevolgde weken: <%- result.WAFSweken %></p>
        <p>Docent: <%- result.WAFSdocent %></p>
        <p>Cijfer lesstof: <%- result.WAFSlesstof %></p>
        <p>Cijfer uitleg: <%- result.WAFSuitleg %></p>
        <p>Cijfer eigen inzicht: <%- result.WAFSownSights %></p>
        <br />
        <p><strong>CSS to the rescue</strong></p>
        <p>Gevolgde weken: <%- result.CSSweken %></p>
        <p>Docent: <%- result.CSSdocent %></p>
        <p>Cijfer lesstof: <%- result.CSSlesstof %></p>
        <p>Cijfer uitleg: <%- result.CSSuitleg %></p>
        <p>Cijfer eigen inzicht: <%- result.CSSownSights %></p>
        <br />
        <p><strong>Progressive Web Apps</strong></p>
        <p>Gevolgde weken: <%- result.PWAweken %></p>
        <p>Docent: <%- result.PWAdocent %></p>
        <p>Cijfer lesstof: <%- result.PWAlesstof %></p>
        <p>Cijfer uitleg: <%- result.PWAuitleg %></p>
        <p>Cijfer eigen inzicht: <%- result.PWAownSights %></p>
        <br />
        <p><strong>Browser technologies</strong></p>
        <p>Gevolgde weken: <%- result.BTweken %></p>
        <p>Docent: <%- result.BTdocent %></p>
        <p>Cijfer lesstof: <%- result.BTlesstof %></p>
        <p>Cijfer uitleg: <%- result.BTuitleg %></p>
        <p>Cijfer eigen inzicht: <%- result.BTownSights %></p>
        <br />
        <p><strong>Realtime web</strong></p>
        <p>Gevolgde weken: <%- result.RWweken %></p>
        <p>Docent: <%- result.RWdocent %></p>
        <p>Cijfer lesstof: <%- result.RWlesstof %></p>
        <p>Cijfer uitleg: <%- result.RWuitleg %></p>
        <p>Cijfer eigen inzicht: <%- result.RWownSights %></p>
        <br />
        <p><strong>Human Centered Design</strong></p>
        <p>Gevolgde weken: <%- result.HCDweken %></p>
        <p>Docent: <%- result.HCDdocent %></p>
        <p>Cijfer lesstof: <%- result.HCDlesstof %></p>
        <p>Cijfer uitleg: <%- result.HCDuitleg %></p>
        <p>Cijfer eigen inzicht: <%- result.HCDownSights %></p>
    </section>
</body>

</html>